# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VS Code related
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/
coverage/

# Windows desktop related
windows/flutter/ephemeral/
windows/runner/Debug/
windows/runner/Release/
windows/runner/Profile/
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.sln

# Android related
android/.gradle/
android/captures/
android/app/debug/
android/app/profile/
android/app/release/

# iOS / macOS related
**/ios/Runner.xcworkspace
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/app.flt
**/macOS/Flutter/ephemeral/

# Secrets & Local Configs
.env
*.env

# Widget Preview related
.widget_preview/
