
NODE_ENV=development
PORT=3000

CLIENT_URL=http://localhost:5174
ALLOWED_ORIGINS=http://localhost:5174

MONGO_URI=mongodb://localhost:27017/srm_xerox_db

JWT_SECRET=super_mega_ultra_secret_key_123

DEBUG=false
DRY_RUN=false

MAINTENANCE_MODE=false
MAINTENANCE_BYPASS_KEY=b487883c3d9478031b548b6972f5ba79dbc0c4ea8e5c56a13a9ddafac9ee495e
